.cards {
 display: flex;
 justify-content: space-between;
 margin-top: 60px;
 margin-bottom: 80px;
}

.card {
  width: 270px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
}

.card img {
  height: 150px;
  border-radius: 8px;
}
