.hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 200px 0;
  box-shadow: 0 0 20px black;
}

@font-face {
  font-family: Starwars;
  src: url('../fonts/Starjedi.woff');
}

.banner-h1 {
  font-family: Starwars;
  font-size: 50px;
}

.container-main {
  position: relative;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  margin: 0 auto;
  width: 900px;
  color: white;
  padding: 50px;
  box-shadow: 0 0 30px black;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.container-main:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(4px);
  margin: -20px;
}

.container-main div {
  margin-top: 7%;
}
.btn {
  font-size: 20px;
  color: #15f2fd;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #15f2fd;
  transition: all 0.4s ease;
}
  .btn:hover {
    box-shadow: 0 0 10px #15f2fd;
  }
